body {
   
    background: linear-gradient(90deg, #3F3F41 20px, transparent 1%) center, linear-gradient(#3F3F41  21px, transparent 1%) center, white;
    background-size: 22px 22px;
    text-align:center;
  }
  .wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 20px;
  }
  .left {
      background-color: #3F3F41;
      border-radius: 20px 0 0 20px;
      float: left;
      width: 100px;
      height: 200px;
  }
  .right {
    background-color: #3F3F41;
    border-radius: 0 20px 20px 0;
    float: right;
    width: 100px;
    height: 200px;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 4px;
    width: 50px;
    background-color: #3F3F41;
  }
p {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}
  